<div class="container p-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <form action="/links/add" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" name="nombre" placeholder="Nombre" autofocus="">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="correo" placeholder="correo">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="pswd" placeholder="contraseña">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-secondary"><i class="fas fa-paper-plane"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
