<!DOCTYPE html>
<html lang="es" ng-App='MyApp'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body ng-controller='Links'>

   {{'hola gato desde angular'}}

   <button ng-click='registrar()'>test</button>
    

    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src='../../node_modules/angular/angular.min.js'></script>
    <script src="../../node_modules/angular-modal-service/dst/angular-modal-service.min.js"></script>
    
    <script src="../../js/angular.links.js"></script>
</body>
</html>